<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro</li>
</ol>
<div class='container'>
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type='text' name="id" class="form-control" disabled [ngModel]="cliente.id" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data Cadastro:</label>
                    <input type='text' class="form-control" [ngModel]="cliente.dateCreate" name="dateCreate" disabled />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome:</label>
                    <input type='text' class="form-control" name="name" placeholder="" [(ngModel)]="cliente.name" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>CPF:</label>
                    <input type='text' name="cpf" class="form-control" [(ngModel)]="cliente.cpf"
                        placeholder="000.000.000-00" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i> Cadastrar
                </button>
            </div>
        </div>
    </form>

</div>