<h1 class="mt-4">
    Serviço Prestado Consulta
</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-bitem active">Consulta</li>
</ol>
<div class="container">
    <form #serarchForm="ngForm" (submit)="search()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Nome do Cliente:</label>
                <input type="text" class="form-control" [(ngModel)]="name" name="name" id="name">
            </div>

            <div class="form-group col-md-6">
                <label for="mes">Mês</label>
                <select [(ngModel)]="mes" class="form-control" name="mes">
                    <option value="">Selecione...</option>
                    <option *ngFor="let mes of meses" [value]="mes">{{mes}}</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <button class="btn btn-info  mr-2">
                    <i class="fa fa-search"></i> Consultar
                </button>

                <button typ="button" routerLink="/service-presteded-form" class="btn btn-primary">
                    <i class="fa fa-plus"></i> Novo
                </button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="alert alert-warning" role="alert" *ngIf="message">
            {{ message }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <th>Cliente</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Data</th>
                </thead>
                <tbody>
                    <tr *ngFor="let service of list">
                        <td>{{ service.cliente.name }}</td>
                        <td>{{ service.descricao }}</td>
                        <td>{{ service.price }}</td>
                        <td>{{ service.date }}</td>
                    </tr>
                </tbody>
            </table>



        </div>
    </div>
</div>