<h1 class="mt-4">
    Serviço Prestado Consulta
</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-bitem active">Consulta</li>
</ol>
<div class="container">
    <form #serarchForm="ngForm" (submit)="search()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Nome do Cliente:</label>
                <input type="text" class="form-control" [(ngModel)]="name" name="name" id="name">
            </div>

            <div class="form-group col-md-6">
                <label for="mes">Mês</label>
                <select [(ngModel)]="mes" class="form-control" name="mes">
                    <option value="">Selecione...</option>
                    <option *ngFor="let mes of meses" [value]="mes">{{mes}}</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <button class="btn btn-info">
                    <i class="fa fa-search"></i>Consultar
                </button>
            </div>
        </div>
    </form>
</div>