<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary">
                <i class="fa fa-plus"></i>
                Novo
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <td>Código</td>
                        <td>Nome</td>
                        <td>CPF</td>
                        <td>Data Cadastro</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.name }}</td>
                        <td>{{ cliente.cpf }}</td>
                        <td>{{cliente.dateCreate}} </td>
                        <td></td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>